* {
  box-sizing: border-box;
  margin: 0;
}

.gallery {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  background: rgb(243, 236, 236);
}

.content {
  width: 40vw;
  height: 60vh;
}

.image {
  width: 40vw;
  height: 40vh;
}

.thumbnails {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  padding: 0px 300px;
}

.thumbnail {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: gray;
  opacity: 0.5;
}

.active {
  opacity: 1;
}